@font-face {
  font-family: 'Unbounded', sans-serif;
  src: url("assets/fonts/Unbounded-VariableFont_wght")
}
@font-face {
  font-family: 'NanumGothic', sans-serif;
  src: url("assets/fonts/NanumGothic-Regular")
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-title
{
  font-family: 'Unbounded', sans-serif;
  font-weight: bold;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
html {
  scroll-behavior: smooth;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;

}
.section {
  width: 50%;
  text-align: left;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .nav {
    display: none;
  }
}
.img {
  border-radius: 50px;
  max-width: 240px;
  min-height: 240px;
}

.main-section {
  width: 100%;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;

}
.section-title {
  text-align: center;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}
.footer-img {
  height: 64px;
  width: auto;
}
.git-icon {
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: flex-end;
}
